<% label ||= name.capitalize %>
<% value ||= nil %>

<li class="">
  <label for="<%= name %>"><%= label %></label>
  <input autocomplete="off" type="password" class="password <%= name %>" maxlength="255" size="30" name="<%= name %>" value="<%= value %>">
  <div class="vspacer"></div>
</li>
